* {
    font-family: 'Estonia', cursive;
    font-family: 'Zen Kurenaido', sans-serif;
    font-family: cursive;
}

body {
    background-image: url(https://wallpapercave.com/wp/wp3002556.jpg);
    background-size:cover;
    padding: 0%;
    margin: 0%;
}

::selection{
    color: #fff;
    background: #D4AF37;
}
.start-btn, .info-box, .quiz-box, .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info-box.activeInfo, .quiz-box.activeQuiz, .result-box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.start-btn button{
    font-size: 25px;
    font-weight: 500;
    color: #D4AF37;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}
.info-box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.info-box .info-title{
    height: 60px;
    width: 88.9%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}
.info-box .info-list{
    padding: 15px 30px;
}
.info-box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}
.info-box .info-list .info span{
    font-weight: 600;
    color: #D4AF37;
}
.info-box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}
.info-box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #D4AF37;
    transition: all 0.3s ease;
}
.quiz-box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.quiz-box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.quiz-box header .title{
    font-size: 20px;
    font-weight: 600;
}
.quiz-box header .timer{
    color: #D4AF37;
    background: #818D92;
    border: 1px solid #818D92;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}
.quiz-box header .timer .time-left-text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz-box header .timer .timer-sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}
.quiz-box header .time-line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #D4AF37;
}
section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}
section .que-text{
    font-size: 25px;
    font-weight: 600;
}
section .option-list{
    padding: 20px 0px;
    display: block;   
}
section .option-list .option{
    background: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .option-list .option:last-child{
    margin-bottom: 0px;
}
section .option-list .option:hover{
    color: #D4AF37;
    background: #818D92;
    border: 1px solid #818D92;
}
section .option-list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}
section .option-list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
section .option-list .option.disabled{
    pointer-events: none;
}
section .option-list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option-list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}
.option-list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}
footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}
footer .total-que span{
    display: flex;
    user-select: none;
}
footer .total-que span p{
    font-weight: 500;
    padding: 0 5px;
}
footer .total-que span p:first-child{
    padding-left: 0px;
}
footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #D4AF37;
    border: 1px solid #D4AF37;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}
footer button:hover{
    background: black;
}
footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.result-box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.result-box .icon{
    font-size: 100px;
    color: #D4AF37;
    margin-bottom: 10px;
}
.result-box .complete-text{
    font-size: 20px;
    font-weight: 500;
}
.result-box .score-text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.result-box .score-text span p{
    padding: 0 4px;
    font-weight: 600;
}
.result-box .buttons{
    display: flex;
    margin: 20px 0;
}
.result-box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #D4AF37;
    transition: all 0.3s ease;
}
.buttons button.restart{
    color: #fff;
    background: #D4AF37;
}
.buttons button.restart:hover{
    background: black;
}
.buttons button.quit{
    color: #D4AF37;
    background: #fff;
}
.buttons button.quit:hover{
    color: #fff;
    background: black;
}
.buttons .wiki{
 background-color: white;
}
.wiki a {
color: #D4AF37;
text-decoration: none;
}
.wiki:hover {
    background-color: black;
    color: white;
}
a:hover{
    color: white;
}